[submodule "comprint"]
	path = comprint
	url = https://github.com/IDLabMedia/comprint.git
[submodule "CAT-Net"]
	path = CAT-Net
	url = https://github.com/IDLabMedia/CAT-Net
[submodule "TruFor"]
	path = TruFor
	url = https://github.com/grip-unina/TruFor.git
